.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.full-screen_video {
  margin-top: 20px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.full-screen {
  padding: 50px 15px;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  position: relative;
  z-index: 5;
  background-color: blue;
}
.content_container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 50px 15px;
  font-size: 18px;
  line-height: 150%;
}
.logo {
  display: block;
  text-align: center;
  line-height: 150%;
  color: white;
  padding: 100px 0px 100px 0px;
  background-color: rgba(47, 75, 143, 0.788);
  border-radius: 20px;
}
.warneBros {
  display: flex;
  justify-content: center;
  padding: 50px 0px 50px 0px;
  color: white;
}
.warneBros img {
  border: 2px solid white;
  margin-left: 50px;
}
