@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.navbar {
  width: 100%;
  background-color: white;
  color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: #f8f8f8;
}

.navbar-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: relative;
}

.navbar-logo img {
  height: 60px;
  width: auto;
  transition: transform 0.9s ease;
}

.navbar-logo img:hover {
  transform: scale(1.1);
}

.navbar-logo:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

.navbar-menu {
  display: flex;
  padding: 0;
  margin-left: 30px;
}

.navbar-menu li {
  list-style: none;
  margin: 0;
  padding: 0 20px 0 0;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navbar-menu li a {
  font-size: 16px;
  margin-left: 8px;
  text-decoration: none;
  color: inherit;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
}

.navbar-menu a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.navbar-menu a:hover::after {
  background-color: orange;
  transform: scaleX(1);
  transform-origin: bottom left;
  text-decoration: none;
}

.search-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 350px;
  margin-left: auto;
  margin-right: 20px;
  transition: width 0.3s ease;
}

.search-box:hover {
  width: 380px;
}

.search-box input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  transition: border-color 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}
.search-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 350px;
  margin-left: auto;
  margin-right: 20px;
}

.search-box input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.search-results {
  list-style: none;
  padding: 0px;
  margin: 0px;
  padding: 0;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
}

.search-result-item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.search-result-item:hover {
  background-color: #f0f0f0;
}

.search-result-thumbnail {
  width: 50px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
  margin-right: 15px;
}

.search-result-details {
  display: flex;
  flex-direction: column;
}

.search-result-details h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.search-result-details p {
  margin: 2px 0;
  font-size: 14px;
}

.search-icon {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.mic-icon {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.search-icon {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-icon p {
  font-size: 20px;
}

.avatar-box {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.avatar_icon {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-menu-burger {
  width: 150px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-item-burger {
  display: block;
  padding: 10px 15px;
  color: black;
  text-decoration: none;
}

.dropdown-item-burger:hover {
  background-color: #f0f0f0;
}

.navbar-menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 0;
  z-index: 1000;
}

.burger-icon.active .burger-line:nth-of-type(1) {
  transform: rotate(45deg);
  top: 8px;
}

.burger-icon.active .burger-line:nth-of-type(2) {
  opacity: 0;
}

.burger-icon.active .burger-line:nth-of-type(3) {
  transform: rotate(-45deg);
  top: -8px;
}

.burger-menu {
  display: none;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.burger-line {
  width: 25px;
  height: 3px;
  background: black;
  margin: 3px 0;
  transition: all 0.3s ease;
}

@media (max-width: 1024px) {
  .navbar-menu {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .search-box {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  .navbar-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 0;
    z-index: 1000;
  }

  .navbar-menu li {
    margin-right: 0;
    margin: 10px 0;
  }

  .search-box {
    width: 100%;
    margin: 10px 0;
  }

  .avatar-box {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-logo img {
    height: 40px;
  }

  .search-icon {
    margin-left: 0;
  }
}

@media (max-width: 425px) {
  .search-box {
    width: 100%;
  }

  .navbar-menu li {
    padding: 10px 15px;
  }

  .navbar-logo img {
    height: 30px;
  }
}

@media (max-width: 375px) {
  .navbar-container {
    padding: 0 2px;
  }

  .navbar-menu li {
    margin-right: 5px;
  }

  .search-box {
    width: 100%;
  }

  .navbar-logo img {
    height: 25px;
  }
}

@media (max-width: 320px) {
  .navbar-container {
    padding: 0 2px;
  }

  .navbar-menu li {
    margin-right: 5px;
  }

  .search-box {
    width: 100%;
  }

  .navbar-logo img {
    height: 20px;
  }
}
