.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  border: none;
  border-radius: 50px;
  background-color: #f0f0f0;
  color: #333;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-button:hover {
  background-color: #333;
}

.pagination-button.active {
  background-color: rgb(17, 114, 225);
  color: #fff;
}

.pagination-button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
