.liked-page {
  padding: 20px;
  /* background-color: #f0f0f0; */
}

.liked-page h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.liked-movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.movie-card {
  width: 200px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-image {
  width: 100%;
  height: 50px;
  object-fit: cover;
}

.movie-title {
  padding: 10px;
  font-size: 1.1rem;
  text-align: center;
  color: #555;
}

.remove-button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #e74c3c;
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: center;
  border-radius: 0 0 8px 8px;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #c0392b;
}
